.container{
    display: flex;
    width: 100%;
    border: 2px solid;
    height: 80vh;
    border-radius: 8px;
    /* justify-content: space-around; */
    justify-content: space-around;
    background-image: url('https://www.picsum.photos/1200');
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
 }
/*  
div{
    border: 2px solid ;
    height: 150px;
    /* width: 600px; 
    background-image: url('https://www.picsum.photos/1200');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10px;
    border-radius: 255px;
    text-align: center;
} 
span{
    width: 300px;
    height: 35px;
    border: 1px solid;
    margin-top: 40px;
    padding: 18px;
    display: inline-block;
    text-align: center;
    background-color: plum;
    border-radius: 255px;
} */
.child{
    border: 2px solid ;
    height: 400px;
     width: 500px;
    background-image: url('https://www.picsum.photos/1200');
    /* background-repeat: no-repeat;
    background-size: cover; */
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
}
.max-width{
    width: 700px;
}